<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create event group</title>

    <div th:replace="fragments/header :: header-links"/>
    <link rel="stylesheet" th:href="@{/css_js/css/create-event-group.css}">
</head>
<body>
    <div th:replace="fragments/header :: header"/>
    <form class="p-3 py-5 create-event-group-form">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Event group creation</h4>
        </div>
        <div class="row mt-2">
            <label class="labels">Event group name</label>
            <input type="text" name="eventGroupName" class="form-control" placeholder="enter event group name"
                   value="">
        </div>
        <div class="row mt-2">
            <label class="labels">Event group description</label>
            <textarea type="text" name="eventGroupDescription" class="form-control"
                      rows="2"
                      placeholder="enter event group description" value="" ></textarea>
        </div>
        <div class="mt-5 text-center">
            <button class="btn btn-primary create-event-group-submit" type="submit">Save event group</button>
        </div>
    </form>
    <script>
        window.onload=()=>{
            const form = document.querySelector('.create-event-group-form')
            const submitBtn = document.querySelector('.create-event-group-submit')
            form.addEventListener('submit', e=>{
                e.preventDefault();
                const formData = {
                    eventGroupName: form.querySelector('[name="eventGroupName"]').value,
                    eventGroupDescription: form.querySelector('[name="eventGroupDescription"]').value,
                }
                fetch('/api/event-groups', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(formData)
                }).then(res => {
                    window.location='/view/my-event-groups'
                }).catch(err => {
                    console.error(err.message)
                    alert(err.message)
                })
            })
        }
    </script>
</body>
</html>