<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <div th:replace="fragments/header :: header-links" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css_js/css/calendar.css}">
    <link rel="stylesheet" th:href="@{/css_js/css/index.css}">
<!--    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js" integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" th:src="@{/css_js/js/calendar.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="root">
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="calendar calendar-first" id="calendar_first">
                        <div class="calendar_header">
                            <button class="switch-month switch-left"> <i class="fa fa-chevron-left"></i></button>
                            <h2></h2>
                            <button class="switch-month switch-right"> <i class="fa fa-chevron-right"></i></button>
                        </div>
                        <div class="calendar_weekdays"></div>
                        <div class="calendar_content"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="events-container"></div>
</div>
<script>
    let eventsOfMonth = new Map();
    let currentYear;
    let currentMonth;
    async function displayEventsAt(year, month, day){
        if(year !== currentYear || month !== currentMonth){
            await loadEvents(year, month)
        }
        const eventsContainer = document.querySelector('.events-container')
        eventsContainer.innerHTML=""
        const events = eventsOfMonth.get(day)
        if(events !== undefined){
            events.sort((a, b)=>{
                return parseInt(a.time.getTime()) - parseInt(b.time.getTime())
            })
            events.forEach(event => {
                eventsContainer.append(displayEvent(event))
            })
        }

    }
    async function loadEvents(year, month){
        fetch('/api/events/by-month/'+year+'/'+month)
        .then(res => res.json())
        .then(r => {
            eventsOfMonth.clear()
            r.data.forEach(event => {
                let datetime = new Date(event.nextEventDate)
                let updatedList = eventsOfMonth.get(datetime.getDate())
                if(updatedList == null) updatedList = []
                updatedList.push({
                    name : event.eventName,
                    description : event.eventDescription,
                    time : datetime
                })
                eventsOfMonth.set(datetime.getDate(), updatedList)
            })
        })
    }

    function displayEvent(event){
        let rootEl = document.createElement("DIV")
        rootEl.className = "event-item-root"
        const name = document.createElement("P")
        name.innerText = event.name
        const eventDescription = document.createElement("P")
        eventDescription.innerText  = event.description
        const time = document.createElement("P")
        time.innerText = event.time.getHours()+":"+event.time.getMinutes()
        rootEl.insertBefore(name, null)
        rootEl.insertBefore(eventDescription, name)
        rootEl.insertBefore(time, eventDescription)
        return rootEl
    }
</script>
</body>
</html>